@charset "UTF-8";


@media (width > 1024px) {
	.box {
		max-width: 384px;
		height: 522px;
	}

	.box .descricao {
		height: 194px;
	}

	.box .descricao .category {
		width: 82px;
		height: 29px;

		font-size: 14px;
	}

	.box .descricao > span {
		font-size: 14px;
	}

	.box .descricao > h1{
		font-size: 24px;
	}

	.box .descricao > p {
		font-size: 16px;
	}

}

